@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/clash-display");



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


 @keyframes borderPulse {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
    border-color: transparent;
  }
  100% {
    transform: translate(-50%, -50%) rotate(225deg);
    background-color: #5bff6e77; /* Your border color */
  }
}

.animate-border-pulse {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 600px;
  width: 200px;
  border: 2px solid transparent;
  animation: borderPulse 3s linear infinite;
  overflow: hidden;
}



/* spinner */
.loader {
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #5BFF6D;
}

.cell:nth-child(2) {
  --cell-color: #50E760;
}

.cell:nth-child(3) {
  --cell-color: #46D055;
}

.cell:nth-child(4) {
  --cell-color: #3CB94A;
}

.cell:nth-child(5) {
  --cell-color: #33A240;
}

.cell:nth-child(6) {
  --cell-color: #2A8C36;
}

.cell:nth-child(7) {
  --cell-color: #22762D;
}

.cell:nth-child(8) {
  --cell-color: #1B6025;
}

.cell:nth-child(9) {
  --cell-color: #144B1D;
}


/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}
